<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
       <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      
        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type"> {{data.label}} </h4>
            <span class="item-status"></span>
          </div>
          <ul class="summary">
            <li> 
              <label> Availability </label> <input name="data.availability" type="number" data-dtype="Number" value="{{data.availability}}"/>
            </li>
            <li> 
              <label> Magical </label> 
              <label class="checkBox">
                <input data-dtype="Boolean" name="data.isMagical" type="checkbox" {{checked data.isMagical}}>
                <span></span>
              </label>
            </li>
          </ul>
        </div>
    </header>
<div class="gold-border"> </div>
  
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">    
      <a class="item" data-tab="traits">Traits</a>
      <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab traits" data-tab="traits">
          <div class="item-stat-block">
            <div class="form-line">
              <label> Damage </label> <input name="data.damage" type="number" data-dtype="Number" value="{{data.damage}}" />
            </div>
            <div class="form-line">
              <label> Dice bonus </label> <input name="data.diceBonus" type="number" data-dtype="Number" value="{{data.diceBonus}}" />
            </div>
            <div class="form-line">
              <label> Penetration </label> <input name="data.penetration" type="number" data-dtype="Number" value="{{data.penetration}}" />
            </div>
            <div class="form-line">
               <label> Initiative mod. </label> <input name="data.initiativeMod" type="number" data-dtype="Number" value="{{data.initiativeMod}}" />
            </div>
            <div class="form-line">
               <label> Size </label> <input name="data.size" type="number" data-dtype="Number" value="{{data.size}}" />
            </div>
            <div class="form-line">
              <label> Strength req. </label> <input name="data.strengthReq" type="number" data-dtype="Number" value="{{data.strengthReq}}" />
            </div>  
            <div class="form-line">
              <label> Weapon Type </label> 
              <select name="data.weaponType">
                {{#select data.weaponType}}
                {{#each config.meleeTypes}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
            {{#if data.isMagical}}
            <div class="form-line">
              <label> Mana </label> 
              <span>
                <input class="range-input" name="data.mana.value" type="number" data-dtype="Number" value="{{data.mana.value}}" /> / <input class="range-input" name="data.mana.max" type="number" data-dtype="Number" value="{{data.mana.max}}" /> 
              </span>
            </div> 
            {{/if}}
          </div>
        </div>
      
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
